/* ============================================================================
   Base Styles
============================================================================ */

* {
  margin: 0;
  padding: 0;

  /* Reset default spacing */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #080b16;
  color: #f8fafc;
  line-height: 1.7;
}

/* ============================================================================
   Typography
============================================================================ */

.content-panel h1, .content-panel h2 {
  font-size:
    clamp(2rem, 5vw, 3rem);

  color: #38bdf8;

  margin-bottom: 1.5rem;
}

/* Paragraph */

.content-panel p {
  font-size: 1.1rem;
  color: #dbeafe;

  margin-bottom: 1.3rem;

  max-width: 850px;
}

/* Lists */

.content-panel ul {
  margin-left: 1.5rem;
}

.content-panel li {
  color: #dbeafe;
  margin-bottom: .8rem;
}



.nav-menu li a,
.nav-menu li a:visited{
  color: #080b16;
}



.nav-menu li a:hover,
.nav-menu li a:focus {
	background-color: #264de4;
  color: #ffffff;
  border-radius: 1rem;
}



.site-header {
	background-color:  #38bdf8;
  /* Change this to position absolute during presentation */
	position: fixed; 
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
 	 height: 6.5rem;
}

.site-header-width {
	max-width: 62.5rem;
	margin: 0 auto;
	padding: 0 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

a.home {
	width: 3rem;
  height: 3rem;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin-top: 1rem;
	text-align: center;
	display: none;
	position: absolute;
	top: 5.5rem;  /* Matches the height of the .site-header */
	left: 0;
	right: 0;
	z-index: 2;
	background-color: #38bdf8;
}

.site-navigation.toggled ul {
	display: block;
}

.site-navigation a {
	display: block;
	padding: 1rem;
	font-size: 1.25rem;
	text-decoration: none;
	color: #282828;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
	padding: 1rem;
  margin-top: 1rem;
}

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
}




/* ============================================================================
   Code Blocks
============================================================================ */




pre {
  background: #020617;

  color: #e0f2fe;

  padding: 1.2rem;

  border-radius: 18px;

  overflow-x: auto;

  margin-top: 1.5rem;

  border:
    1px solid
    rgba(56,189,248,.25);
}

code {
  font-family: monospace;
}

@media (min-width: 43.75em) {
  .menu-toggle {
		display: none;
	}

	.site-navigation {
		flex: 1 1 auto;
		padding: 0 1rem;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 0;
	}

	.site-navigation a {
		line-height: 4.5rem; /* Matches the height of the .site-header */
		padding: 0 1rem;
	}

}






