/* Topics Section Layout
--------------------------------------------- */
.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    overflow: hidden; 
}

.hero__title {
    position: absolute;
    z-index: 2; 
    color: #ffffff;
    text-shadow: 2px 2px 10px #000000b3;
    margin: 0;
}

.hero__picture {
    display: block; 
    width: 100%;
    height: auto;
    z-index: 1; 
}


.hero__picture img {
    display: block;
    width: 100%;   
    height: auto;  
}

/* Topics Section Layout
--------------------------------------------- */
.topics-section {
    text-align: center;
    padding: 3rem 1rem;
}

.topics-section__title {
    margin-bottom: 2rem;
}

.topics-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}


@media (min-width: 50rem) {
    .topics-grid {
        flex-direction: row;
        justify-content: center;
        align-items: stretch; /* 👈 カードの高さを一番高いものに自動で揃えるプロの技！ */
    }
}

/* Card Component
--------------------------------------------- */
.card {
    border: 1px solid #000000; 
    padding: 1.5rem;         
    border-radius: 8px;
    box-shadow: 0 2px 10px #00000010;;
    text-align: left;
    flex: 1;
    max-width: 350px;
    background-color: #ffffff14;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card__title {
    margin-top: 0;
    font-size: 1.5rem;
    color:#38bdf8 ;
}

.card__text {
    color: #dbeafe;
    line-height: 1.5;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 12px 20px #00000026; 
}