
.demo-box {
  background-image: none !important;
  background-color: #38bdf8 !important;
  transition: background-color 0.5s ease !important;
  transform: none !important;
}


.demo-box:hover {
  transform: none !important;
  background-color: #ec4899 !important;
}

