.syntax-demo-box {
  width: 100%;
  max-width: 300px;
  height: 80px;
  background-color: #ff7a59;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.syntax-demo-box:hover {
  background-color: #33475b;
}


.codedemo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;                 
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;            
  margin: 40px auto;
  padding: 20px;
  background-color: #1e293b; 
  width: fit-content;      
}

.interect-box {
  display: inline-block;
  width: 120px;
  padding: 10px 0;
  background-color: #ff7a59; 
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out 0.1s,
              width 0.5s ease-in-out 0.1s,
              transform 0.5s ease-in-out 0.1s;
}
.interect-text {
  color: #ffffff;          
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  transition: color 0.5s ease-in-out 0.1s;
}

.interect-box:hover {
  background-color: #a855f7; 
  width: 150px;             
  transform: scale(1.05);   
}

.interect-box:hover  {
  color: #0f172a;            
}

.transition-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.where-btn {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #ff7a59;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out 0s;
}

.where-btn:hover {
  background-color: #33475b;
}

.where-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out 0s;
}

.where-link:hover {
  color: #ff7a59;
}

.where-input {
  width: 80%;
  padding: 10px;
  background-color: #0f172a;
  border: 2px solid #334155;
  color: #ffffff;
  outline: none;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out 0s;
}

.where-input:focus {
  border-color: #ffffff;
}